geonetwork-gaap/geonetwork-gaap-webservices-def/src/main/resources/META-INF/operation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://geonetwork.org/gaap/domain/group" xmlns:tns="http://geonetwork.org/gaap/domain/operation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://geonetwork.org/gaap/domain/operation">
	<xs:complexType name="permission">
		<xs:sequence>
			<xs:element minOccurs="0" name="group">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="uuid" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="operation">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="name" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" name="metadataUuid" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="hibernateId" type="xs:long"/>
	</xs:complexType>
	<xs:complexType name="metadataPermissions">
		<xs:sequence>
			<xs:element minOccurs="0" name="metadataUuid" type="xs:string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="permission" type="tns:permission"/>
		</xs:sequence>
	</xs:complexType>
    <xs:complexType name="operationDescription">
    <xs:sequence>
      <xs:element type="xs:string" name="langId" minOccurs="0"/>
      <xs:element type="xs:string" name="label" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:long" use="required" name="hibernateId"/>
  </xs:complexType>
  <xs:complexType name="operation">
    <xs:sequence>
      <xs:element type="xs:string" name="name" minOccurs="0"/>
      <xs:element type="tns:operationDescription" name="description" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute type="xs:boolean" use="required" name="reserved"/>
  </xs:complexType>
</xs:schema>
